# pandas è¿›é˜¶ä¿®ç‚¼ ï½œæ—©èµ·Python
<br>

**æœ¬ä¹ é¢˜ç”±å…¬ä¼—å·ã€æ—©èµ·Python & å¯è§†åŒ–å›¾é‰´ã€‘ åŸåˆ›ï¼Œè½¬è½½åŠå…¶ä»–å½¢å¼åˆä½œè¯·ä¸æˆ‘ä»¬è”ç³»ï¼ˆå¾®ä¿¡å·`sshs321`)ï¼Œæœªç»æˆæƒä¸¥ç¦æ¬è¿åŠäºŒæ¬¡åˆ›ä½œï¼Œä¾µæƒå¿…ç©¶ï¼**



æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚


ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

## 7 - æ•°æ®é€è§†ä¸åˆå¹¶



<br>

**<font color = '#5172F0'><font size=3.5>å¿…è¯»ğŸ‘‡ğŸ‘‡ğŸ‘‡**</font>
    
ç°åœ¨è®©æˆ‘ä»¬ç»§ç»­ç»ƒä¹  pandasæ•°æ®åˆ†æå¦ä¸€ç»„å¸¸ç”¨æ“ä½œ --> **æ•°æ®é€è§†ä¸åˆå¹¶**


æœ¬èŠ‚ä¹ é¢˜å°†æ¶‰åŠå››å¤§å‡½æ•°ï¼š
    
- pivot_table
- concat
- merge
- join

éšç€ç»ƒä¹ çš„æ·±å…¥ï¼Œè‹¥æ²¡æœ‰ä¸€å®šçš„åŸºç¡€çŸ¥è¯†å°†å¾ˆéš¾ç»§ç»­åˆ·é¢˜
    
å®˜æ–¹æ–‡æ¡£æ°¸è¿œæ˜¯æœ€å¥½çš„å­¦ä¹ æ‰‹å†Œï¼Œåœ¨æœ¬èŠ‚ä¹‹å‰å¼ºçƒˆå»ºè®®å­¦ä¹ [å®˜æ–¹æ–‡æ¡£å¯¹åº”éƒ¨åˆ†](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging)

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**ä¹ é¢˜+ç­”æ¡ˆç‰ˆ**


è¯·æ‰§è¡Œä¸‹æ–¹å•å…ƒæ ¼ä»¥åˆå§‹åŒ–è¯»å–æœ¬èŠ‚ä¹ é¢˜çš„ç­”æ¡ˆ

æ‰§è¡Œå®Œæ¯•åï¼Œä½ å¯ä»¥ä½¿ç”¨ `ans(1)` æ¥æŸ¥çœ‹ç¬¬ 1 é¢˜çš„å‚è€ƒè§£ç­”ï¼Œå…¶ä½™ä¹ é¢˜ç±»ä¼¼ã€‚

æ³¨æ„ï¼šæ‰€æœ‰ç­”æ¡ˆå¹¶éå›ºå®šï¼ˆå”¯ä¸€ï¼‰ï¼Œæˆ‘æä¾›çš„ç­”æ¡ˆä»…ä¾›å‚è€ƒï¼ˆå¹¶éæ¨èç­”æ¡ˆæˆ–è€…æœ€ä¼˜è§£ï¼‰

å¦‚æœå‘ç°ä»»ä½•é”™è¯¯æˆ–è€…ä½ æœ‰æ›´å¥½çš„è§£ç­”ï¼Œå¯ä»¥å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€æäº¤ä»¥è·å¾—å¥–åŠ±ï¼

In [4]:
import sys
sys.path.append('../document/')
from inits import initialize, ans
res = initialize("../document/answer-7.txt")

***************æ­£åœ¨åˆå§‹åŒ–***************
*************è¯»å–åˆ°é…ç½®æ–‡ä»¶*************
***************åˆå§‹åŒ–æˆåŠŸ***************

## æ•°æ®é€è§†è¡¨

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/14/16316101294678.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

### 1 - åŠ è½½æ•°æ®

è¯»å–å½“å‰ç›®å½•ä¸‹ `"æŸè¶…å¸‚é”€å”®æ•°æ®.csv"` å¹¶è®¾ç½®åƒåˆ†ä½ç¬¦å·ä¸º `,`

In [5]:
import pandas as pd
df = pd.read_csv('æŸè¶…å¸‚é”€å”®æ•°æ®.csv', thousands=',')

In [6]:
df.head(5)

,è®¢å•ID,è®¢å•æ—¥æœŸ,é‚®å¯„æ–¹å¼,å›½å®¶,åœ°åŒº,çœ/è‡ªæ²»åŒº,ç»†åˆ†,ç±»åˆ«,å­ç±»åˆ«,åˆ¶é€ å•†,äº§å“åç§°,æ•°é‡,é”€å”®é¢,åˆ©æ¶¦
0,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,åŠå…¬ç”¨å“,æ”¶çº³å…·,Rogers,"Rogers æ–‡ä»¶è½¦, å•å®½åº¦",5,3305,1322
1,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,å®¶å…·,æ¡Œå­,Barricks,"Barricks åœ†æ¡Œ, ç™½è‰²",3,5289,-635
2,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,æŠ€æœ¯,ç”µè¯,è¯ºåŸºäºš,"è¯ºåŸºäºš æ™ºèƒ½æ‰‹æœº, æ•´åŒ…",3,1725,69
3,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,æŠ€æœ¯,é…ä»¶,è´å°”é‡‘,"è´å°”é‡‘ è®°å¿†å¡, å®æƒ",3,1607,611
4,A1000003,2013/1/2,äºŒçº§,ä¸­å›½,åä¸œ,ç¦å»º,æ¶ˆè´¹è€…,åŠå…¬ç”¨å“,æ”¶çº³å…·,Rogers,"Rogers ç›’, å·¥ä¸š",4,456,128

### 2 - æ•°æ®é€è§†ï½œé»˜è®¤

åˆ¶ä½œå„çœã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [7]:
import numpy as np
pd.pivot_table(df, index=['çœ/è‡ªæ²»åŒº'], values='é”€å”®é¢',aggfunc=np.mean)

               é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     1875.712934
äº‘å—     1863.789030
å†…è’™å¤    1314.826316
åŒ—äº¬     1726.857143
å‰æ—     1701.563567
å››å·     1157.875536
å¤©æ´¥     1611.206667
å®å¤     1651.680000
å®‰å¾½     1477.868251
å±±ä¸œ     1642.659111
å±±è¥¿     1751.359184
å¹¿ä¸œ     1592.185340
å¹¿è¥¿     1675.061135
æ–°ç–†     1402.384615
æ±Ÿè‹     1279.898089
æ±Ÿè¥¿     1966.477876
æ²³åŒ—     1780.275248
æ²³å—     1558.400335
æµ™æ±Ÿ     1347.277778
æµ·å—     1721.982759
æ¹–åŒ—     1324.808442
æ¹–å—     1603.702222
ç”˜è‚ƒ     1602.893443
ç¦å»º     1732.044693
è¥¿è—      201.000000
è´µå·     1425.978723
è¾½å®     1363.381982
é‡åº†     1383.082927
é™•è¥¿     1880.606635
é’æµ·     2978.954545
é»‘é¾™æ±Ÿ    1800.438503

### 3 - æ•°æ®é€è§†ï½œæŒ‡å®šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [8]:
pd.pivot_table(df, index=['çœ/è‡ªæ²»åŒº'], values='é”€å”®é¢', aggfunc=np.sum)

           é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      594601
äº‘å—      441718
å†…è’™å¤     249817
åŒ—äº¬      350552
å‰æ—      896724
å››å·      269785
å¤©æ´¥      483362
å®å¤       41292
å®‰å¾½      684253
å±±ä¸œ     1884130
å±±è¥¿      429083
å¹¿ä¸œ     1520537
å¹¿è¥¿      383589
æ–°ç–†       72924
æ±Ÿè‹      401888
æ±Ÿè¥¿      222212
æ²³åŒ—      899039
æ²³å—      930365
æµ™æ±Ÿ      266761
æµ·å—       99875
æ¹–åŒ—      408041
æ¹–å—      721666
ç”˜è‚ƒ      195553
ç¦å»º      620072
è¥¿è—         201
è´µå·       67021
è¾½å®      756677
é‡åº†      283532
é™•è¥¿      396808
é’æµ·       65537
é»‘é¾™æ±Ÿ    1346728

### 4 - æ•°æ®é€è§†ï½œå¤šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€ä¸ã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [9]:
pd.pivot_table(df, index=['çœ/è‡ªæ²»åŒº'], values='é”€å”®é¢', aggfunc=[np.sum,np.mean])

           sum         mean
           é”€å”®é¢          é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      594601  1875.712934
äº‘å—      441718  1863.789030
å†…è’™å¤     249817  1314.826316
åŒ—äº¬      350552  1726.857143
å‰æ—      896724  1701.563567
å››å·      269785  1157.875536
å¤©æ´¥      483362  1611.206667
å®å¤       41292  1651.680000
å®‰å¾½      684253  1477.868251
å±±ä¸œ     1884130  1642.659111
å±±è¥¿      429083  1751.359184
å¹¿ä¸œ     1520537  1592.185340
å¹¿è¥¿      383589  1675.061135
æ–°ç–†       72924  1402.384615
æ±Ÿè‹      401888  1279.898089
æ±Ÿè¥¿      222212  1966.477876
æ²³åŒ—      899039  1780.275248
æ²³å—      930365  1558.400335
æµ™æ±Ÿ      266761  1347.277778
æµ·å—       99875  1721.982759
æ¹–åŒ—      408041  1324.808442
æ¹–å—      721666  1603.702222
ç”˜è‚ƒ      195553  1602.893443
ç¦å»º      620072  1732.044693
è¥¿è—         201   201.000000
è´µå·       67021  1425.978723
è¾½å®      756677  1363.381982
é‡åº†      283532  1383.082927
é™•è¥¿      396808  1880.606635
é’æµ·       65537  2978.954545
é»‘é¾™æ±Ÿ    1346728  1800.438503

### 5 - æ•°æ®é€è§†ï½œå¤šæŒ‡æ ‡

åˆ¶ä½œå„çœå¸‚ã€Œé”€å”®æ€»é¢ã€ä¸ã€Œåˆ©æ¶¦æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [10]:
pd.pivot_table(df, index=['çœ/è‡ªæ²»åŒº'], values=['é”€å”®é¢','åˆ©æ¶¦'], aggfunc=np.sum)

           åˆ©æ¶¦      é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      87236   594601
äº‘å—      83201   441718
å†…è’™å¤    -20685   249817
åŒ—äº¬      57883   350552
å‰æ—     152504   896724
å››å·     -16615   269785
å¤©æ´¥      63108   483362
å®å¤      -1149    41292
å®‰å¾½     133312   684253
å±±ä¸œ     310042  1884130
å±±è¥¿      79913   429083
å¹¿ä¸œ     278591  1520537
å¹¿è¥¿      61444   383589
æ–°ç–†      13696    72924
æ±Ÿè‹      -6500   401888
æ±Ÿè¥¿      27144   222212
æ²³åŒ—     153247   899039
æ²³å—     168714   930365
æµ™æ±Ÿ     -17024   266761
æµ·å—      21298    99875
æ¹–åŒ—     -22896   408041
æ¹–å—      92944   721666
ç”˜è‚ƒ     -25298   195553
ç¦å»º     133791   620072
è¥¿è—          4      201
è´µå·       5408    67021
è¾½å®     -24930   756677
é‡åº†      39688   283532
é™•è¥¿      61753   396808
é’æµ·       4354    65537
é»‘é¾™æ±Ÿ    228262  1346728

### 6 - æ•°æ®é€è§†ï½œå¤šç´¢å¼•

åˆ¶ä½œã€Œå„çœå¸‚ã€ä¸ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [11]:
pd.pivot_table(df, index=['çœ/è‡ªæ²»åŒº','ç±»åˆ«'], values='é”€å”®é¢', aggfunc=np.sum)

               é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  198529
      å®¶å…·    221058
      æŠ€æœ¯    175014
äº‘å—    åŠå…¬ç”¨å“  123051
      å®¶å…·    174155
...            ...
é’æµ·    å®¶å…·     25923
      æŠ€æœ¯     22896
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  473319
      å®¶å…·    497504
      æŠ€æœ¯    375905

[91 rows x 1 columns]

### 7 - æ•°æ®é€è§†ï½œå¤šå±‚

åˆ¶ä½œå„çœå¸‚ã€Œä¸åŒç±»åˆ«ã€äº§å“çš„ã€Œé”€å”®æ€»é¢ã€é€è§†è¡¨

In [12]:
pd.pivot_table(df, index=['çœ/è‡ªæ²»åŒº'], columns=['ç±»åˆ«'], values='é”€å”®é¢', aggfunc=np.sum)

ç±»åˆ«         åŠå…¬ç”¨å“        å®¶å…·        æŠ€æœ¯
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     198529.0  221058.0  175014.0
äº‘å—     123051.0  174155.0  144512.0
å†…è’™å¤     74058.0   95426.0   80333.0
åŒ—äº¬     144232.0  127407.0   78913.0
å‰æ—     215143.0  287498.0  394083.0
å››å·     111393.0   88297.0   70095.0
å¤©æ´¥     142526.0  149452.0  191384.0
å®å¤      19529.0   16449.0    5314.0
å®‰å¾½     200511.0  215901.0  267841.0
å±±ä¸œ     575520.0  664339.0  644271.0
å±±è¥¿     121458.0  175522.0  132103.0
å¹¿ä¸œ     494643.0  530054.0  495840.0
å¹¿è¥¿     102625.0  165140.0  115824.0
æ–°ç–†      38345.0   20520.0   14059.0
æ±Ÿè‹     163919.0  152868.0   85101.0
æ±Ÿè¥¿      37114.0  107047.0   78051.0
æ²³åŒ—     284739.0  306535.0  307765.0
æ²³å—     266916.0  294593.0  368856.0
æµ™æ±Ÿ      84471.0   84436.0   97854.0
æµ·å—      34141.0   41225.0   24509.0
æ¹–åŒ—     112230.0  118053.0  177758.0
æ¹–å—     197969.0  241804.0  281893.0
ç”˜è‚ƒ      54012.0   68657.0   72884.0
ç¦å»º     142728.0  243289.0  234055.0
è¥¿è—        201.0       NaN       NaN
è´µå·       9713.0   29285.0   28023.0
è¾½å®     214994.0  270279.0  271404.0
é‡åº†      71020.0   96318.0  116194.0
é™•è¥¿     119169.0  187497.0   90142.0
é’æµ·      16718.0   25923.0   22896.0
é»‘é¾™æ±Ÿ    473319.0  497504.0  375905.0

### 8 - æ•°æ®é€è§†ï½œç»¼åˆ

åˆ¶ä½œã€Œå„çœå¸‚ã€ã€ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®é‡ä¸é”€å”®é¢ã€çš„ã€Œå‡å€¼ä¸æ€»å’Œã€çš„æ•°æ®é€è§†è¡¨ï¼Œå¹¶åœ¨æœ€åè¿½åŠ ä¸€è¡Œã€åˆè®¡ã€

In [13]:
pd.pivot_table(df,index=['çœ/è‡ªæ²»åŒº','ç±»åˆ«'], values=['æ•°é‡','é”€å”®é¢'], aggfunc={'æ•°é‡':np.mean,'é”€å”®é¢':np.sum},margins=True)

                  æ•°é‡       é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  3.706897    198529
      å®¶å…·    4.132530    221058
      æŠ€æœ¯    3.616667    175014
äº‘å—    åŠå…¬ç”¨å“  3.913043    123051
      å®¶å…·    4.224490    174155
...              ...       ...
é’æµ·    æŠ€æœ¯    3.833333     22896
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  3.657471    473319
      å®¶å…·    3.921687    497504
      æŠ€æœ¯    3.442177    375905
All         3.768093  15984343

[92 rows x 2 columns]

### 9 - æ•°æ®é€è§†ï½œç­›é€‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼ŒæŸ¥è¯¢ **ã€Œç±»åˆ«ã€** ç­‰äº **ã€ŒåŠå…¬ç”¨å“ã€** çš„è¯¦æƒ…

In [14]:
table = pd.pivot_table(df,index=['çœ/è‡ªæ²»åŒº','ç±»åˆ«'], values=['æ•°é‡','é”€å”®é¢'], aggfunc={'æ•°é‡':np.mean,'é”€å”®é¢':np.sum},margins=True)
table.query('ç±»åˆ« == ["åŠå…¬ç”¨å“"]')

                  æ•°é‡     é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  3.706897  198529
äº‘å—    åŠå…¬ç”¨å“  3.913043  123051
å†…è’™å¤   åŠå…¬ç”¨å“  3.391304   74058
åŒ—äº¬    åŠå…¬ç”¨å“  3.750000  144232
å‰æ—    åŠå…¬ç”¨å“  3.520270  215143
å››å·    åŠå…¬ç”¨å“  3.947368  111393
å¤©æ´¥    åŠå…¬ç”¨å“  3.917127  142526
å®å¤    åŠå…¬ç”¨å“  3.750000   19529
å®‰å¾½    åŠå…¬ç”¨å“  3.710526  200511
å±±ä¸œ    åŠå…¬ç”¨å“  3.775112  575520
å±±è¥¿    åŠå…¬ç”¨å“  3.880597  121458
å¹¿ä¸œ    åŠå…¬ç”¨å“  3.908088  494643
å¹¿è¥¿    åŠå…¬ç”¨å“  3.954545  102625
æ–°ç–†    åŠå…¬ç”¨å“  3.575758   38345
æ±Ÿè‹    åŠå…¬ç”¨å“  3.849741  163919
æ±Ÿè¥¿    åŠå…¬ç”¨å“  3.523077   37114
æ²³åŒ—    åŠå…¬ç”¨å“  3.968750  284739
æ²³å—    åŠå…¬ç”¨å“  3.628242  266916
æµ™æ±Ÿ    åŠå…¬ç”¨å“  3.684211   84471
æµ·å—    åŠå…¬ç”¨å“  3.314286   34141
æ¹–åŒ—    åŠå…¬ç”¨å“  3.666667  112230
æ¹–å—    åŠå…¬ç”¨å“  3.629771  197969
ç”˜è‚ƒ    åŠå…¬ç”¨å“  4.206349   54012
ç¦å»º    åŠå…¬ç”¨å“  3.801047  142728
è¥¿è—    åŠå…¬ç”¨å“  3.000000     201
è´µå·    åŠå…¬ç”¨å“  3.954545    9713
è¾½å®    åŠå…¬ç”¨å“  3.741722  214994
é‡åº†    åŠå…¬ç”¨å“  3.876106   71020
é™•è¥¿    åŠå…¬ç”¨å“  3.816667  119169
é’æµ·    åŠå…¬ç”¨å“  4.444444   16718
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  3.657471  473319

### 10 -æ•°æ®é€è§†ï½œé€†é€è§†

é€†é€è§†å°±æ˜¯å°†å®½çš„è¡¨è½¬æ¢ä¸ºé•¿çš„è¡¨ï¼Œä¾‹å¦‚å°†ç¬¬ 5 é¢˜çš„é€è§†è¡¨è¿›è¡Œé€†é€è§†ï¼Œå…¶ä¸­ä¸éœ€è¦è½¬æ¢çš„åˆ—ä¸ºã€æ•°é‡ã€åˆ—

In [15]:
table = pd.pivot_table(df,values = ['é”€å”®é¢','åˆ©æ¶¦','æ•°é‡'],index = 'ç±»åˆ«',aggfunc = sum)
# table.melt(id_vars=['æ•°é‡'], var_name='åˆ†ç±»', value_name='é‡‘é¢')
table

          åˆ©æ¶¦     æ•°é‡      é”€å”®é¢
ç±»åˆ«
åŠå…¬ç”¨å“  752124  21389  4844936
å®¶å…·    628052   8434  5696531
æŠ€æœ¯    742264   7613  5442876

å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€ï¼Œå…³æ³¨åå¯ä»¥è·å¾—æ›´å¤šèµ„æºï¼`

## æ•°æ®åˆå¹¶

### concat - æ•°æ®æ‹¼æ¥

`concat`ä¸»è¦ç”¨äº**æ•°æ®æ‹¼æ¥**ï¼Œä¹Ÿæ˜¯éå¸¸å¸¸ç”¨çš„ä¸€ä¸ªæ“ä½œ

é™¤äº†å®˜æ–¹æ–‡æ¡£å¤–å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ 

ä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œä¸‹æ–¹ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

In [16]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [17]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [18]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [19]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [20]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

#### 11 - <font color = '#FB8E00'>concat</font>ï½œé»˜è®¤æ‹¼æ¥

æ‹¼æ¥ df1 å’Œ df2

In [21]:
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

#### 12 - <font color = '#FB8E00'>concat</font>ï½œæ‹¼æ¥å¤šä¸ª

å‚ç›´æ‹¼æ¥ `df1ã€df2ã€df3`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_basic.png)

In [22]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

#### 13 - <font color = '#FB8E00'>concat</font>ï½œé‡ç½®ç´¢å¼•

å‚ç›´æ‹¼æ¥ df1 å’Œ df4ï¼Œå¹¶æŒ‰é¡ºåºé‡æ–°ç”Ÿæˆç´¢å¼•ï¼Œ

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_ignore_index.png)

In [23]:
pd.concat([df1,df4], ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

#### 14 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥

æ¨ªå‘æ‹¼æ¥ `df1ã€df4`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º


![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1.png)

In [24]:
pd.concat([df1,df4], axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

#### 15 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–äº¤é›†ï¼‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåªå–ç»“æœçš„äº¤é›†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_inner.png)

In [25]:
pd.concat([df1,df4], axis=1, join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

#### 16 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–æŒ‡å®šï¼‰

åœ¨ 14 é¢˜åŸºç¡€ä¸Šï¼Œåªå–åŒ…å« df1 ç´¢å¼•çš„éƒ¨åˆ†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_join_axes.png)

In [26]:
# pd.concat([df1,df4], axis=1, join_axes=[df1.index])
pd.concat([df1,df4], axis=1).reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

![å…¬ä¼—å·ï¼šæ—©èµ·Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

#### 17 - <font color = '#FB8E00'>concat</font>ï½œæ–°å¢ç´¢å¼•

æ‹¼æ¥ `df1ã€df2ã€df3`ï¼ŒåŒæ—¶æ–°å¢ä¸€ä¸ªç´¢å¼•ï¼ˆ`xã€yã€z`ï¼‰æ¥åŒºåˆ†ä¸åŒçš„è¡¨æ•°æ®æ¥æº

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_keys.png)

In [27]:
pd.concat([df1,df2,df3], keys=['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

### merge - æ•°æ®è¿æ¥

concatæ˜¯æ‹¼æ¥ï¼Œmergeåˆ™æ˜¯è¿æ¥ï¼ŒåŒæ ·é‡è¦çš„ä¸€ä¸ªæ“ä½œ

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

#### 18 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å•é”®

æ ¹æ® `key` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key.png)

In [28]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [29]:
pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

#### 19 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å¤šé”®

æ ¹æ® `key1` å’Œ `key2` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_multiple.png)

In [30]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [31]:
pd.merge(left, right, on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 20 - <font color = '#1B85FF' >merge</font>ï½œå·¦å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å·¦è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_left.png)

In [32]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

#### 21 - <font color = '#1B85FF' >merge</font>ï½œå³å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å³è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_right.png)

In [33]:
pd.merge(left, right, how='right', on=['key1','key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

#### 22 - <font color = '#1B85FF' >merge</font>ï½œå…¨å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_outer.png)

In [34]:
pd.merge(left, right, how='outer', on=['key1','key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

#### 23 - <font color = '#1B85FF' >merge</font>ï½œå†…è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™äº¤é›†
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_inner.png)

In [35]:
pd.merge(left, right, how='inner', on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 24 - <font color = '#1B85FF' >merge</font>ï½œé‡å¤ç´¢å¼•


é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_overlapped_suffix.png)

In [36]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'v': [1, 2, 3]})

right = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'v': [4, 5, 6]})

In [37]:
pd.merge(left, right, how='inner', on='k', suffixes=['_l', '_r'])

    k  v_l  v_r
0  K0    1    4
1  K0    1    5

### join - ç»„åˆ

æœ€åä¸€ä¸ªæ•°æ®åˆå¹¶çš„å¸¸ç”¨ä¸”é‡è¦çš„æ“ä½œæ˜¯`join`

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

In [39]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])


right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

#### 25 -  <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½

åˆå¹¶ left å’Œ rightï¼Œå¹¶æŒ‰ç…§ left çš„ç´¢å¼•è¿›è¡Œå¯¹é½

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join.png)

In [40]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

#### 26 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå¤–è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

æ€è€ƒï¼šmerge åšæ³•

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_outer.png)

In [81]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

#### 27 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå†…è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_inner.png)

In [42]:
left.join(right, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

#### 28 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_key_columns.png)

In [44]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})


right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                      index=['K0', 'K1'])

In [45]:
left.join(right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

#### 29 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•ï¼ˆå¤šä¸ªï¼‰

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key1` å’Œ `key2`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_multikeys.png)

In [46]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1']})


index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'),
                                  ('K2', 'K0'), ('K2', 'K1')])


right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=index)

In [47]:
left.join(right, on=['key1', 'key2'])

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A3  B3   K2   K1   C3   D3

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)